# Ignore Doxygen-generated HTML documentation
/case_studies/gateway/common/canudp/html/
/case_studies/gateway/esp32/html/
/case_studies/gateway/linux/utils/html/

# Ignore ESP-IDF-generated configuration files
# sdkconfig.defaults is under revision control instead
/case_studies/gateway/esp32/**/sdkconfig
/case_studies/gateway/esp32/**/sdkconfig.old
/exercises/chapter_8/**/sdkconfig
/exercises/chapter_8/**/sdkconfig.old

# Ignore build directories
/case_studies/gateway/linux/**/build*/
/case_studies/gateway/esp32/**/build*/
/exercises/chapter_8/**/build*/

# Ignore components managed by ESP-IDF
/case_studies/gateway/esp32/**/dependencies.lock
/case_studies/gateway/esp32/**/managed_components/
